@use "sass:map";
@use "variables" as *;

@mixin from($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` não encontrado.";
  }
}

@mixin until($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` não encontrado.";
  }
}

@mixin tooltip-position($position) {
  $breakpoints: sm, md, lg, xl;

  &.#{$position} {
    @content;
  }

  &.flip-#{$position} {
    @content;
  }

  @each $breakpoint in $breakpoints {
    &.#{$breakpoint}\:#{$position} {
      @include from($breakpoint) {
        @content;
      }
    }

    &.#{$breakpoint}\:flip-#{$position} {
      @include from($breakpoint) {
        @content;
      }
    }
  }
}
