$background: #d4d4d8;
$background-accent: #e4e4e7;

$text: #3f3f46;
$text-accent: #27272a;
$text-heavy: #09090b;
$text-light: #d4d4d8;

$shadow-3: rgba(63, 63, 70, 0.36);
$shadow-5: rgba(63, 63, 70, 0.56);
$shadow-7: rgba(63, 63, 70, 0.76);
$shadow-9: rgba(63, 63, 70, 0.96);

$border-3: rgba(39, 39, 42, 0.36);
$border-5: rgba(39, 39, 42, 0.56);

$red: #b91c1c;
$green: #15803d;
