$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$x2l: 1536px;

@mixin min-width($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin max-width($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

:root {
  --page-padding: calc(100% / 16 + 1rem);

  @include max-width($lg) {
    --page-padding: calc(100% / 20 + 1rem);
  }

  @include max-width($md) {
    --page-padding: calc(100% / 24 + 0.75rem);
  }

  @include max-width($sm) {
    --page-padding: calc(100% / 28 + 0.5rem);
  }
}

$page-padding: var(--page-padding);
